# Ignore the virtual environment
myenv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore .DS_Store files (macOS-specific)
.DS_Store
# Ignore .DS_Store files in all directories
**/.DS_Store

